@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: #fff;
}

.container {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
